
//---------------colors--------------
$primary-color: #ffffff;
$bg-color: rgb(10, 20, 110);
$hover: #000000;

//---------------fonts desktop--------------
$links-navbar:4em;
$titles-form: 3em;
$titles: 2em;
$hover-links:1.5em;
$inputs:1.5em;

//---------------fonts mobile--------------
$breakpoint: 769px;
$links-navbar-mobile:2.5em;
$text-mobile: 0.5em;
$titles-form-mobile: 3em;
$titles-mobile: 2em;
$hover-links-mobile:2.5em;
$inputs-mobile:1.2em;
